aiohttp==3.8.1
aiosignal==1.2.0
asgiref==3.4.1
async-timeout==4.0.1
attrs==21.2.0
beautifulsoup4==4.10.0
bs4==0.0.1
charset-normalizer==2.0.7
Django==3.2.9
frozenlist==1.2.0
idna==3.3
jaraco.classes==3.2.1
jaraco.collections==3.4.0
jaraco.functools==3.4.0
jaraco.text==3.6.0
lxml==4.6.4
more-itertools==8.12.0
multidict==5.2.0
openpack==2.3.0
pip==21.3.1
pytz==2021.3
setuptools==58.3.0
soupsieve==2.3.1
sqlparse==0.4.2
typing_extensions==4.0.0
wheel==0.37.0
xlsxcessive==1.1.1
yarl==1.7.2